.wrapper {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;

  > .tape {
    position: absolute;
    top: 25px;
    right: -90px;
    width: 300px;
    transform: rotate(45deg);
    cursor: pointer;

    > img {
      width: 100%;
      display: block;
      transform: scaleX(-1);
    }
  }

  > .tooltip {
    position: absolute;
    top: 90px;
    right: 16px;
    background-color: #000;
    color: #fff;
    padding: 1rem 1.2rem;
    border-radius: 8px;
    width: 360px;
    pointer-events: none;
    font-family: 'Coolvetica', sans-serif;

    > .tooltip_title {
      font-size: 1.5rem;
      margin-bottom: 0.4rem;
    }

    > .tooltip_desc {
      font-size: 1.1rem;
      line-height: 1.4;
      color: #aaa;
    }
  }
}
