@font-face {
  font-family: 'Coolvetica';
  src: url('./Coolvetica Rg.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Coolvetica Condensed';
  src: url('./Condensed.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
